@using CMS_Solution.WebRuby.Common;
@model List<Business.Entities.NewsMap>
@if (Model != null && Model.Any())
{
    <section class="news-home more-news">
        <section class="container">
            <h2 class="title-page">Tin tức nổi bật</h2>
            <section class="row">
                @foreach (var item in Model)
                {
                    <section class="col-lg-4 col-md-4 col-sm-12">
                        <section class="news">
                            <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeoName.ToLower() })" title="@item.NewsTitle">
                                <img class="hot-news" src="@CommonWebsite.UrlWebsite@item.ImageUrl" alt="@item.NewsTitle" title="@item.NewsTitle">
                            </a>
                            <p class="__update">@item.NewsDate</p>
                            <h3><a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeoName.ToLower() })" title="@item.NewsTitle">@item.NewsTitle</a></h3>
                            <p class="content-short">@item.ShortDescription</p>
                        </section>
                    </section>
                }
            </section>
        </section>
    </section>
}
