@using Core.Common.UI;
@using CMS_Solution.WebRuby.Common;
@using CMS_Solution.WebRuby.Extensions;
@model  CMS_Solution.WebRuby.ViewModel.ListNewsCategoryViewModel
@{
    var _detail = (Model.SeoSetting != null) ? Model.SeoSetting : new Business.Entities.SeoSettings();
    Layout = "~/Views/Shared/_ColumnsTwoNews.cshtml";
    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(_detail.MetaTitle) ? _detail.MetaTitle : _detail.NameTitle);
    //meta
    Html.AddMetaDescriptionParts(_detail.MetaDescriptions);
    Html.AddMetaKeywordParts(_detail.MetaKeywords);

    ////open graph META tags
    Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
    Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(!String.IsNullOrEmpty(_detail.MetaTitle) ? _detail.MetaTitle : _detail.NameTitle) + "\" />");
    Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Core.Common.Html.HtmlHelper.StripTags(_detail.MetaDescriptions)) + "\" />");
    Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + _detail.ImageUrl + "\" />");
    Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Request.Url.Host) + "\" />");
    //open graph META tags
    Html.AddHeadCustomParts("<meta property=\"fb:app_id\" content='259844368091705' />");
    Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + _detail.ImageUrl + "\" />");
    Html.AddHeadCustomParts("<meta property=\"og:image:width\" content=\"480\"/>");
    Html.AddHeadCustomParts("<meta property=\"og:image:height\" content='360'/>");
    Html.AddHeadCustomParts("<meta name='msapplication-config' content='browserconfig.xml'/>");
    //Twitter META tags
    Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
    Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Request.Url.Host) + "\" />");
    Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(!String.IsNullOrEmpty(_detail.MetaTitle) ? _detail.MetaTitle : _detail.NameTitle) + "\" />");
    Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Core.Common.Html.HtmlHelper.StripTags(_detail.MetaDescriptions)) + "\" />");
    Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + _detail.ImageUrl + "\" />");
    Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
}
@section Breadcrumb
{
    <section class="background-about mt-2">
        <section class="bg-about">
            <h1>Tin tức</h1>
        </section>
    </section>
    <section class="container mg-crumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item" itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
                <a href="/" title="Trang chủ" itemprop="url"><span itemprop="title">Trang chủ</span></a>
            </li>
            <li class="breadcrumb-item" itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
                <a href="@Url.RouteUrl("NewsArchive")" title="Tin tức"  itemprop="url">
                    <span itemprop="title">Tin tức</span>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">@_detail.NameTitle</li>
        </ul>
    </section>
}
@if (Model != null && Model.listNews != null && Model.listNews.Any())
{
    foreach (var item in Model.listNews)
    {
        <section class="news">
            <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeoName.ToLower()})" title="@item.NewsTitle"><img src="@CommonWebsite.UrlWebsite@item.ImageUrl" alt="@item.NewsTitle"></a>
            <p class="__update">@item.NewsDate</p>
            <h3><a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeoName.ToLower()})">@item.NewsTitle</a></h3>
            <p>@item.ShortDescription</p>
        </section>
    }
    var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
    if (!pager.IsEmpty())
    {
        <div class="pager mt-0 pt-0 mb-3">
            @pager
        </div>
    }
}
else
{
    <div>Tin đang cập nhật</div>
}


