@using Core.Common.UI;
@using CMS_Solution.WebRuby.Common;
@using CMS_Solution.WebRuby.Extensions;
@model  CMS_Solution.WebRuby.ViewModel.RecruitmentViewModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("Tuyển dụng-Ruby Fitness");
    var modelM = Model != null ? Model : new CMS_Solution.WebRuby.ViewModel.RecruitmentViewModel();
}
<section class="background-about">
    <section class="bg-about">
        <h1>Tuyển dụng</h1>
    </section>
</section>
<section class="container mg-crumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.RouteUrl("HomePage")">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tuyển dụng</li>
    </ul>
</section>
<section class="news-home recruitment">
    <section class="container">
        <section class="row justify-content-center">
            <section class="col-md-3 col-sm-12">
                <section class="left-recruitment">
                    <h2>Tìm tin tuyển dụng</h2>
                    @Html.Partial("Partial/RecruitmentSearchPartial", Model.Search)
                </section>
            </section>
            <section id="result-FormSearch" class="col-md-7 col-sm-12">
                    @Html.Partial("Partial/RecruitmentListPartial", modelM)
                </section>
            </section>
    </section>
</section>
@{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Recruitment/Recruitment.min.js")"></script>
}
<script>
    $(document).ready(function () {
        if (Common.Empty(Common.Recruitment)) {
            Common.Recruitment = new Recruitment({
                Url: {
                    Search: '@Url.Action("Search", "Common")',
                },
            });
        }
        else {
            Common.Recruitment.RegisterEvent();
        }
    });
</script>