@using Core.Common.UI;
@{
    Layout = "~/Views/Shared/_Root.cshtml";
    Html.AddTitleParts("Quick Solution Team");
}

<section class="video-background mt-2">
    <section class="bg-video">
        @*<img class="bg-img-gif" src="~/Content/image/media/bg-video.mp4" />
        @*<img class="bg-img-gif" src="~/Content/image/media/bg-video.gif" />*@
    </section>
    <section class="slider-home">
        @Html.Action("HomeBanner", "Common")
    </section>
</section>
<div class="partial-content" data-url="@Url.Action("AboutHome", "Common")"></div>
<div class="partial-content" data-url="@Url.Action("HomePageProductSelling", "Product")"></div>
<div class="partial-content" data-url="@Url.Action("HomePageAdvertisement", "Common")"></div>
<div class="partial-content" data-url="@Url.Action("HomePageProductHot", "Product")"></div>
@*<div class="partial-content" data-url="@Url.Action("HomePageGymSetup", "GymSetup")"></div>*@
@*<section class="partner-home">
    <section class="container">
        <h2 class="title-page">Đối tác - Khách hàng</h2>
        <section class="box-partner-home">
            <a href="#"><img src="~/Content/image/partner-1.png" alt="Partner"></a>
            <a href="#"><img src="~/Content/image/partner-2.png" alt="Partner"></a>
            <a href="#"><img src="~/Content/image/partner-3.png" alt="Partner"></a>
            <a href="#"><img src="~/Content/image/partner-4.png" alt="Partner"></a>
            <a href="#"><img src="~/Content/image/partner-5.png" alt="Partner"></a>
            <a href="#"><img src="~/Content/image/partner-5.png" alt="Partner"></a>
            <a href="#"><img src="~/Content/image/partner-4.png" alt="Partner"></a>
        </section>
    </section>
</section>*@
<div class="partial-content" data-url="@Url.Action("HomePageNews", "News")"></div>
