@{
    Layout = "~/Views/Shared/_Root.cshtml";
    var listP = ViewData["p"] as string[]??new string[0];
}
@if (IsSectionDefined("Breadcrumb"))
{
    @section Breadcrumb {
        @RenderSection("Breadcrumb")
    }
}
<section class="top-about">
    <section class="container">
        <section class="row">
            <section class="col-md-3 col-sm-12">
                <button class="filters" data-toggle="modal" data-target="#exampleModal"><i class="material-icons">filter_list</i> Tìm kiếm</button>
                <section class="right">
                    @Html.Action("LeftMenuCategory", "Catalog", new { categoryid = ViewData["categoryid"] })
                    <section class="filter">
                        <h3>Lọc theo giá</h3>
                        <ul>
                            <li class="filter_class" data-href="duoi-10000000"  data-param="p" >
                                <label class="mg-0">
                                    <input type="checkbox" name="checkPrice[]" @Html.Raw(listP.Any(x => x == "duoi-10000000")? " class=\"check selected_filter\" checked" : " class=\"check\"" ) ><span class="check-in"></span> Dưới 10 triệu
                                </label>
                            </li>
                            <li class="filter_class" data-href="tu-10000000-20000000-trieu"  data-param="p">
                                <label class="mg-0"><input type="checkbox" name="checkPrice[]" @Html.Raw(listP.Any(x => x == "tu-10000000-20000000-trieu") ?" class=\"check selected_filter\" checked" : " class=\"check\"" )>
                                <span class="check-in"></span> Từ 10 triệu - 20 triệu
                                </label>
                            </li>
                            <li class="filter_class" data-href="tu-20000000-50000000-trieu"  data-param="p">
                                <label class="mg-0">
                                    <input type="checkbox" name="checkPrice[]" @Html.Raw(listP.Any(x => x == "tu-20000000-50000000-trieu") ?" class=\"check selected_filter\" checked" : " class=\"check\"" )>
                                    <span class="check-in"></span> Từ 20 triệu - 50 triệu
                                </label>
                            </li>
                            <li class="filter_class" data-href="tu-50000000-100000000-trieu"  data-param="p">
                                <label class="mg-0">
                                    <input type="checkbox" name="checkPrice[]" @Html.Raw(listP.Any(x => x == "tu-50000000-100000000-trieu") ?" class=\"check selected_filter\" checked" : " class=\"check\"" )>
                                    <span class="check-in"></span> Từ 50 triệu - 100 triệu
                                </label>
                            </li>
                            <li class="filter_class" data-href="tren-1000000000-trieu"  data-param="p">
                                <label class="mg-0">
                                    <input type="checkbox" name="checkPrice[]" @Html.Raw(listP.Any(x => x == "tren-1000000000-trieu") ?" class=\"check selected_filter\" checked" : " class=\"check\"" )>
                                    <span class="check-in"></span> Trên 100 triệu
                                </label>
                            </li>
                        </ul>
                    </section>
                    @Html.Action("LeftMenuProductAttribute", "Product",new { categoryid = ViewData["categoryid"],s= ViewData["s"] })
                </section>
            </section>
            <section class="col-md-9 col-sm-12 all-product">
                @RenderBody()
            </section>
        </section>
    </section>
</section>
