@using Core.Common.UI;
<!DOCTYPE html>
<html>
<head>
    <title>@Html.NopTitle()</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="title" content="@(Html.NopTitle())" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    <meta name="robots" content="noodp,index,follow">
    <meta name="revisit-after" content="1 days">
    <meta name="language" content="vietnamese">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="generator" content="RubyFitness" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="rubycare.vn">
    <meta name="theme-color" content="#eda314">
    <meta name="msapplication-TileColor" content="#eda314">
    <link rel="alternate" href="http://rubycare.vn/" hreflang="vn" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap" rel="stylesheet">
    <link type="text/css" href="~/Content/all.min.css" rel="stylesheet" />
    @Html.NopHeadCustom()
    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    <!--Copyright (c) 2019-->
    <!--[if lt IE 9]>
           <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/common.js"></script>
    @RenderSection("scripts", required: false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124647617-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-124647617-1');
    </script>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-N7BH2MV');</script>
    <!-- End Google Tag Manager -->

</head>
<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7BH2MV"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    @Html.Action("Header", "Common")
    @RenderBody()
    @*<section class="click-to-call">
            <a href="tel:1900 888 699">
                <img src="image/phone.gif" alt="Phone" />
                <span>1900 888 699</span>
            </a>
        </section>*@
    <div class="partial-content" data-url="@Url.Action("Footer", "Common")"></div>
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/Cart/AddProductToCart.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/respond.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/fotorama/fotorama.js"></script>
    <script src="~/Scripts/jquery.nivo.slider.js"></script>
    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/Cart/AddProductToCart.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var wd = screen.width;
            if (wd <= 768) {
                $('.box-cate-product').addClass('owl-carousel');
                $('.box-partner-home').addClass('owl-carousel');
                $('.box-cate-product').owlCarousel({
                    autoplay: true,
                    nav: false,
                    loop: true,
                    items: 1,
                    margin: 20
                });
                $('.box-partner-home').owlCarousel({
                    autoplay: true,
                    nav: false,
                    loop: true,
                    items: 2,
                    margin: 20
                });
            }
            $('.box-package').owlCarousel({
                autoplay: true,
                nav: false,
                loop: true,
                items: 3,
                responsive: {
                    0: {
                        items: 2,
                        margin: 10
                    },
                    480: {
                        items: 2,
                        margin: 10
                    },
                    768: {
                        items: 3,
                        margin: 20
                    },
                    1120: {
                        items: 3,
                        margin: 20
                    },
                    1400: {
                        items: 3,
                        margin: 20
                    }
                }
            });
            function loadPartial() {
                $(".partial-content").each(function (index, item) {
                    var url = $(item).data("url");
                    if (url && url.length > 0) {
                        $(item).load(url);
                    }
                    $(item).removeClass('partial-content');
                });
            };
            loadPartial();
            $(document).ajaxSuccess(function () {
                loadPartial();
            });
            if (Common.Empty(Common.AddProductToCart)) {
                Common.AddProductToCart = new AddProductToCart({
                    Url: {
                        AddItemToCartByProductID: '@Url.Action("AddItemToCartByProductID", "Cart")',
                        DeleteItemToCartByProductID: '@Url.Action("DeleteItemToCartByProductID", "Cart")',
                        CartIndex: '@Url.Action("Index", "Cart")'
                    },
                });
            }
            else {
                Common.AddProductToCart.RegisterEvent();
            }
            var countCart = '@(TempData["updateCart"] != null && !string.IsNullOrEmpty(TempData["updateCart"].ToString()) ? TempData["updateCart"].ToString() : "")';
            if (countCart) {
                var cookieCart = '@(TempData["cookieCart"] != null && !string.IsNullOrEmpty(TempData["cookieCart"].ToString()) ? TempData["cookieCart"].ToString() : "")';
                Common.createCookie("orderCart", cookieCart, 1);
                Common.createCookie(cookieCart, countCart, 1);
            }
            var messageLogin = '@((TempData["infoLogin"] != null && !string.IsNullOrEmpty(TempData["infoLogin"].ToString())) ? TempData["infoLogin"].ToString() : "")';
            if (messageLogin) {
                var status = '@((TempData["statusLogin"] != null && !string.IsNullOrEmpty(TempData["statusLogin"].ToString())) ? TempData["statusLogin"].ToString() : "0")';
                Common.ShowMessage(messageLogin, status);
            }
        });
    </script>
</body>
</html>
