@using Core.Common.UI;
@model CMS_Solution.WebRuby.ViewModel.Login
@{
    /**/
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    //title
    Html.AddTitleParts("Đăng nhập");
}
<script>
  window.fbAsyncInit = function() {
    FB.init({
        appId: '1753888768215757',
      xfbml      : true,
      version    : 'v6.0'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<section class="main-checkout" style="padding-top: 115px !important; clear: both; padding-bottom: 0 !important">
    <div class="bg-login">
        <section class="container">
            <section class="row">
                <section class="col-md-4 col-sm-12" style="padding-bottom: 50px">
                    <h1 class="title-about">Đăng nhập.</h1>

                    @using (Html.BeginForm("LoginAccount", "Customer", FormMethod.Post, new { @id = "form-Login" }))
                    {
                        @Html.AntiForgeryToken()
                        <section class="position-relative">
                            <label for="UserLogin">Điện thoại <span>*</span></label>
                            @Html.TextBoxFor(model => model.UserLogin, new
                       {
                           @class = "",
                           @placeholder = "",
                           @data_rule_required = "true",
                           @data_msg_required = "Vui lòng nhập Email của bạn!!!",
                           @maxlength = 250
                       })
                        </section>
                        <section class="position-relative">
                            <label for="PassWord">Mật khẩu <span class="text-danger">(*)</span></label>
                            @Html.PasswordFor(model => model.PassWord, new
                       {
                           @class = "",
                           @placeholder = "",
                           @data_rule_required = "true",
                           @data_msg_required = "Vui lòng nhập mật khẩu!!!",
                           @maxlength = 250
                       })
                        </section>
                        <section class="text-center">
                            <button id="btn-login" type="button">Đăng nhập</button>
                        </section>

                    }
                    <section class="text-center">
                        <p>Hoặc đăng nhập qua</p>
                        <a href="javacript:void(0)" style="padding: 0; background: none" id="fb-login"><img src="../Content/image/icon-fb.jpg" alt="FB"></a>
                        <a href="javacript:void(0)" style="padding: 0; background: none" id="gg-login"><img src="../Content/image/icon-gg.jpg" alt="FB"></a>
                        <p class="">Bạn chưa có tài khoản?</p>
                        <a href="/dang-ky" class="btn-sign">Tạo tài khoản ngay</a>
                    </section>
                </section>
            </section>
        </section>
    </div>

</section>
<script src="https://apis.google.com/js/api:client.js"></script>
@{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Customer/Login.min.js")"></script>
}
<script>
    $(document).ready(function () {
        if (Common.Empty(Common.Login)) {
            Common.Login = new Login({
                Url: {
                    LoginAccount: '@Url.Action("LoginAccount", "Customer")',
                    LoginAccountSSO: '@Url.Action("LoginAccountSSO", "Customer")',
                },
            });
        }
        else {
            Common.Login.Register();
        }
    });
</script>
