@using Core.Common.UI;
@using CMS_Solution.WebRuby.Common;
@using CMS_Solution.WebRuby.Extensions;
@model Business.Entities.Domain.ProductCommentsAdd

<form role="form" id="form-ProductComments">
    <section class="row">
        @Html.HiddenFor(model => model.ProductId)
        <section class="col-md-3 col-sm-12">
            <p>Chọn mức đánh giá</p>
            <div class="rate">
                <input type="radio" id="star1" name="RattingValues" value="5" />
                <label for="star1" title="5"></label>
                <input type="radio" id="star2" name="RattingValues" value="4" />
                <label for="star2" title="4"></label>
                <input type="radio" id="star3" name="RattingValues" value="3" />
                <label for="star3" title="3"></label>
                <input type="radio" id="star4" name="RattingValues" value="2"   />
                <label for="star4" title="2"></label>
                <input type="radio" id="star5" name="RattingValues" value="1" />
                <label for="star5" title="1"></label>
            </div>
        </section>
        <section class="col-md-9 col-sm-12">
            <p>Để lại bình luận của bạn</p>
            @Html.TextBoxFor(model => model.FullName, new
             {
                 @class = "",
                 @placeholder = "Họ tên",
                 @data_rule_required = "true",
                 @data_msg_required = "Vui lòng nhập họ tên!!!",
                 @maxlength = 250
             })
            @Html.TextBoxFor(model => model.Email, new
             {
                 @class = "",
                 @placeholder = "Email",
                 @data_rule_required = "true",
                 @data_msg_required = "Vui lòng nhập email!!!",
                 @data_rule_email = "true",
                 @data_msg_email = "Vui lòng nhập email đúng định dạng!!!",
                 @maxlength = 250
             })
           
            @Html.TextAreaFor(model => model.ContentComment, new
                          {
                              @class = "",
                              @placeholder = "Nội dung",
                              @data_rule_required = "true",
                              @data_msg_required = "Vui lòng nhập nội dung!!!",
                              @maxlength = 4000
                          })
            <section class="clearfix"></section>
            <button type="button" id="btnSave">Bình luận</button>
        </section>
    </section>
</form>
@{
    <script type="text/javascript" src="@Url.Content("~/Scripts/ProductComments/ProductComments.min.js")"></script>
}
<script>
    $(document).ready(function () {
        if (Common.Empty(Common.ProductComments)) {
            Common.ProductComments = new ProductComments({
                Url: {
                    SendComment: '@Url.Action("SendComment", "Product")'
                },
            });
        }
        else {
            Common.ProductComments.RegisterEvent();
        }
    });
</script>