@using CMS_Solution.WebRuby.Common;
@model List<Business.Entities.GymSetupMap>

@*<section class="setup package-box">
        <section class="container">
            <h2 class="title-page">Các gói Setup phòng tập</h2>
            <section class="row">
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <section class="col-lg-4 col-md-4 col-sm-12">
                            <section class="package">
                                <img src="@item.IMAGEURL" alt="Set 1">
                                <section class="abs info-package">
                                    <span></span>
                                    <h3><a href="@Url.RouteUrl("GymSetupItem", new { SeName =  item.SEONAME })">@item.SETUPSERVICETITLE</a></h3>
                                    <p>1 tỷ</p>
                                    <a href="@Url.RouteUrl("GymSetupItem", new { SeName =  item.SEONAME })" class="views">Đăng ký</a>
                                </section>
                            </section>
                        </section>
                    }
                }
            </section>
        </section>
    </section>*@
<section class="setup package-box">
    <section class="container">
        <h2 class="title-page">Các gói Setup phòng tập</h2>
        <section class="box-package owl-carousel">
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {

                    <section class="package">
                        <a href="@Url.RouteUrl("GymSetupItem", new { SeName =  item.SEONAME })"><img src="@item.IMAGEURL" alt="Set 1" /></a>
                        <h3><a href="javascript(0)">@item.SETUPSERVICETITLE</a></h3>
                        <p>Với những người lần đầu tiên có phòng gym sau một thời gian hoạt động sẽ cảm thấy mọi</p>
                        <a href="@Url.RouteUrl("GymSetupItem", new { SeName =  item.SEONAME })" class="view_package">Xem thêm ....</a>
                    </section>
                }
            }
            @*<section class="package">
                    <a href="#"><img src="image/ser-1.jpg" alt="Set 1" /></a>
                    <h3><a href="#">Gói setup VIP 3*</a></h3>
                    <p>Với những người lần đầu tiên có phòng gym sau một thời gian hoạt động sẽ cảm thấy mọi</p>
                    <a href="#" class="view_package">Xem thêm ....</a>
                </section>
                <section class="package">
                    <a href="#"><img src="image/ser-2.jpg" alt="Set 1" /></a>
                    <h3><a href="#">Gói setup VIP 3*</a></h3>
                    <p>Với những người lần đầu tiên có phòng gym sau một thời gian hoạt động sẽ cảm thấy mọi</p>
                    <a href="#" class="view_package">Xem thêm ....</a>
                </section>
                <section class="package">
                    <a href="#"><img src="image/ser-3.jpg" alt="Set 1" /></a>
                    <h3><a href="#">Gói setup VIP 3*</a></h3>
                    <p>Với những người lần đầu tiên có phòng gym sau một thời gian hoạt động sẽ cảm thấy mọi</p>
                    <a href="#" class="view_package">Xem thêm ....</a>
                </section>*@
        </section>
    </section>
</section>
<script type="text/javascript">
    $('.box-package').owlCarousel({
        autoplay: true,
        nav: false,
        loop: true,
        items: 3,
        responsive: {
            0: {
                items: 2,
                margin: 10
            },
            480: {
                items: 2,
                margin: 10
            },
            768: {
                items: 3,
                margin: 20
            },
            1120: {
                items: 3,
                margin: 20
            },
            1400: {
                items: 3,
                margin: 20
            }
        }
    });
</script>