@using Core.Common.UI;
@using CMS_Solution.WebRuby.Common;
@using CMS_Solution.WebRuby.Extensions;
@model CMS_Solution.WebRuby.ViewModel.ProductCategoryMapViewModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    //title
    Html.AddTitleParts("Danh mục sản phẩm - Quick Solution Team");
    //meta
    Html.AddMetaDescriptionParts("Danh mục sản phẩm - Quick Solution Team");
    Html.AddMetaKeywordParts("Danh mục sản phẩm - Quick Solution Team");
}
@section Breadcrumb
{
    <section class="background-about mt-2">
        <section class="bg-about">
            <h1>Sản phẩm</h1>
        </section>
    </section>
    <section class="container mg-crumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active">Sản phẩm</li>
        </ol>
    </section>
}

<section class="top-about">
    <section class="container-fluid">
        <section class="main-service">
            @if (Model != null && Model.ProductCates.Any())
            {
                foreach (var item in Model.ProductCates)
                {
                    <section class="cate-product">
                        <a href="@Url.RouteUrl("Category", new { SeName = item.SeoName.ToLower()})" title="@item.NameShowWeb">
                            <img src="@CommonWebsite.UrlWebsite@item.ImageUrl" alt="Proo-1" width="275" height="250">
                        </a>
                        <h3><a href="@Url.RouteUrl("Category", new { SeName = item.SeoName.ToLower()})" title="@item.NameShowWeb">@item.NameShowWeb</a></h3>
                    </section>
                }
            }
            else
            {
                <div>Không tìm thấy doanh mục</div>
            }
        </section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    @{
                        var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
                    }
                    @if (!pager.IsEmpty())
                    {
                        <div class="pager mt-0 pt-0 mb-3">
                            @pager
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</section>


