@model List<Business.Entities.Domain.ProductCategoryMap>
@using System.Linq
@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var item in Model)
        {
            if (item.ParentId == 0)
            {
                <li class="sub">
                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeoName.ToLower() })" title="@item.NameShowWeb">@item.NameShowWeb</a>
                    @{
                        var lst = from x in Model where Convert.ToInt64(x.ParentId) == item.ProductCategoryId select x;
                        if (lst != null && lst.Count() > 0)
                        {
                            <ul>
                                @foreach (var item2 in lst)
                                {
                                    <li class="sub">
                                        <a href="@Url.RouteUrl("Category", new { SeName = item2.SeoName.ToLower() })" title="@item2.NameShowWeb">@item2.NameShowWeb</a>
                                        @{
                                            var lst1 = from x1 in Model where Convert.ToInt64(x1.ParentId) == item2.ProductCategoryId select x1;
                                            if (lst1 != null && lst1.Count() > 0)
                                            {
                                                <ul>
                                                    @foreach (var item3 in lst1)
                                                    {
                                                        <li class="sub">
                                                            <a href="@Url.RouteUrl("Category", new { SeName = item3.SeoName.ToLower() })" title="@item3.NameShowWeb">@item3.NameShowWeb</a>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        }
                                    </li>
                                }
                            </ul>
                         }
                    }
                </li>
            }
       }
    </ul>

}