@using Core.Common.UI;
@using CMS_Solution.WebRuby.Common;
@using CMS_Solution.WebRuby.Extensions;
@model  CMS_Solution.WebRuby.ViewModel.OrderCartViewModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    ////title
    Html.AddTitleParts("Giỏ hàng");
    int _total = 0;
    string _cookieName = "";
    decimal TotalPrice = 0;
}
@section Breadcrumb
{
    <section class="background-about mt-2">
        <section class="bg-about">
            <h1>Giỏ hàng</h1>
        </section>
    </section>
    <section class="container mg-crumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="/" title="Trang chủ" itemprop="url"><span itemprop="title">Trang chủ</span></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="@Url.RouteUrl("Cart")" title="Giỏ hàng" itemprop="url">
                    <span itemprop="title">Giỏ hàng</span>
                </a>
            </li>
        </ul>
    </section>
}
<section class="top-about">
    <section class="container">
        <section class="row justify-content-center">
            <section class="col-md-10 col-sm-12">
                <section class="table-responsive">
                    <table class="table shopping-cart">
                        <thead>
                            <tr>
                                <th class="txt-center">STT</th>
                                <th>Sản phẩm</th>
                                <th>Giá</th>
                                <th class="txt-center">Số lượng</th>
                                <th>Thành tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Items != null && Model.Items.Any())
                            {
                                int i = 1;
                                foreach (var item in Model.Items)
                                {
                                    _total += item.Quantity;
                                    _cookieName = item.CookieId;
                            <tr data-id="@item.ProductId">
                                <td class="txt-center" style="width: 7%">@i</td>
                                <td style="width: 40%;">
                                    <div class="float-left w-100">
                                        <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeoName })"><img src="@CommonWebsite.UrlWebsite@item.ProductImage" alt="@item.ProductSeoName"></a>
                                        <h3><a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeoName })" class="title-product-card">@item.ProductName - @item.ProductCode</a></h3>

                                        @if (item.RatingValues > 0)
                                        {
                                            <p class="star">
                                                @for (int j = 0; j < item.RatingValues; j++)
                                                {
                                                    <i class="material-icons">star</i>
                                                }
                                            </p>
                                        }
                                    </div>

                                    @if (item.CartPromotion != null && item.CartPromotion.Any())
                                    {
                                        <div class="float-left w-100">Khuyến mại:</div>
                                        <div class="float-left w-100">
                                            @foreach (var promo in item.CartPromotion)
                                            {
                                                if (promo.IsDiscountBySetPrice)//Giá ưu đãi. áp dụng thay giá Khuyến mại
                                                {
                                                    <p>- @promo.PromotionOfferName : @promo.DisCountValue VNĐ  </p>
                                                }
                                                else if (promo.IsFixedGift) //quà tặng cố định
                                                {
                                                    <p>- Khuyến mại sản phẩm : @promo.ProductGiftsName  </p>
                                                }
                                                else if (promo.IsPercentDiscount)//giảm theo phần trăm
                                                {
                                                    <p>- @promo.PromotionOfferName : @promo.DisCountValue %</p>
                                                }
                                                else if (promo.IsFixPrice)// Trừ tiền cứng. giảm giá cứng
                                                {
                                                    <p>- Số tiền được khấu trừ: @String.Format("{0:#,##0}", Convert.ToInt32(promo.DisCountValue)).Replace(',', '.')  VNĐ</p>
                                                }
                                            }
                                        </div>
                                    }
                                </td>
                                @if (item.Price == 0)
                                {
                                    <td class="price">Liên hệ</td>
                                }
                                else
                                {
                                    if (item.CartPromotion != null && item.CartPromotion.Any())
                                    {
                                        var _price = item.Price;
                                        bool _isPromotion = false;
                                        foreach (var promo in item.CartPromotion)
                                        {
                                            if (promo.IsDiscountBySetPrice)//Giá ưu đãi. áp dụng thay giá Khuyến mại
                                            {
                                                _price = promo.DisCountValue;
                                                _isPromotion = true;
                                            }
                                            if (promo.IsPercentDiscount)//giảm theo phần trăm
                                            {
                                                _price = _price - ((_price * promo.DisCountValue) / 100);
                                                _isPromotion = true;
                                            }
                                            if (promo.IsFixPrice)// Trừ tiền cứng. giảm giá cứng
                                            {
                                                _price = _price - promo.DisCountValue;
                                                _isPromotion = true;
                                            }
                                        }
                                        <td data-value="@_price">
                                            <p class="price"> @String.Format("{0:#,##0}", Convert.ToInt32(_price)).Replace(',', '.') đ</p>
                                            @if (_isPromotion)
                                            {
                                                <p class="price-old"><s>@String.Format("{0:#,##0}", Convert.ToInt32(@item.Price)).Replace(',', '.') đ</s></p>
                                            }

                                        </td>
                                    }
                                    else
                                    {
                                        <td class="price" data-value="@item.Price">@String.Format("{0:#,##0}", Convert.ToInt32(item.Price)).Replace(',', '.') đ</td>
                                    }
                                }

                                <td name="td-quantity">
                                    <section class="quantity">
                                        <input type="number" class="quantity-txt" data-value="@item.Quantity" name="Quantity-@item.ProductId" min="1" step="1" value="@item.Quantity"><div class="quantity-nav"><div data-id="@item.ProductId" class="quantity-button quantity-up quantity-up-order">+</div><div data-id="@item.ProductId" class="quantity-button quantity-down quantity-down-order">-</div></div>
                                    </section>
                                </td>

                                @if (item.Price == 0)
                                {
                                    <td class="price priceTotalItem  text-right">Liên hệ</td>
                                }
                                else
                                {
                                    var _price = item.Price;
                                    if (item.CartPromotion != null && item.CartPromotion.Any())
                                    {
                                        foreach (var promo in item.CartPromotion)
                                        {
                                            if (promo.IsDiscountBySetPrice)//Giá ưu đãi. áp dụng thay giá Khuyến mại
                                            {
                                                _price = promo.DisCountValue;
                                            }
                                            if (promo.IsPercentDiscount)//giảm theo phần trăm
                                            {
                                                _price = _price - ((_price * promo.DisCountValue) / 100);
                                            }
                                            if (promo.IsFixPrice)// Trừ tiền cứng. giảm giá cứng
                                            {
                                                _price = _price - promo.DisCountValue;
                                            }
                                        } 
                                    }
                                     
                                    decimal TotalPriceProduct = _price * item.Quantity;
                                    TotalPrice += TotalPriceProduct;
                                    <td class="price priceTotalItem text-right">@String.Format("{0:#,##0}", TotalPriceProduct).Replace(',', '.') đ</td>
                                }
                                <td><a href="javascript:void(0)" data-id="@item.ProductId" data-cartId="@item.CartId" class="deleteOrder"><i class="material-icons">delete</i></a></td>
                            </tr>
                                    i++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6"></td>
                                </tr>
                            }
                            <tr class="last">
                                <td colspan="4">Tổng thanh toán:</td>
                                <td class="price priceTotal" colspan="2">@(Model.Items != null && Model.Items.Any() ? (TotalPrice > 0 ? (String.Format("{0:#,##0}",TotalPrice).Replace(',', '.') + "đ") : "Liên hệ") : "")</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="control">
                    <a href="/"><u>Tiếp tục mua hàng</u></a>
                    <a href="/thanh-toan" class="check-out">Thanh toán</a>
                </section>
            </section>
        </section>
    </section>
</section>
<script type="text/javascript">
    var TotalQuantity = @_total;
    var CookieName = '@_cookieName';
    $(document).ready(function () {
        Common.createCookie(CookieName, TotalQuantity , 1);
    });


</script>