@using Core.Common.UI;
@using CMS_Solution.WebRuby.Common;
@using CMS_Solution.WebRuby.Extensions;
@model  CMS_Solution.WebRuby.ViewModel.ListNewsViewModel
@{
    Layout = "~/Views/Shared/_ColumnsTwoNews.cshtml";
    //title
    Html.AddTitleParts("Tin tức");
    //page class
    Html.AppendPageCssClassParts("html-news-list-page");
}
@section Breadcrumb
{
    <section class="background-about mt-2">
        <section class="bg-about">
            <h1>Tin tức</h1>
        </section>
    </section>
    <section class="container mg-crumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active">Tin tức</li>
        </ul>
    </section>
}
@if (Model != null && Model.listNews != null && Model.listNews.Any())
{
    foreach (var item in Model.listNews)
    {
        <section class="news">
            <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeoName.ToLower()})" title="@item.NewsTitle"><img src="@CommonWebsite.UrlWebsite@item.ImageUrl" alt="@item.NewsTitle"></a>
            <p class="__update">@item.NewsDate</p>
            <h3><a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeoName.ToLower()})">@item.NewsTitle</a></h3>
            <p>@item.ShortDescription</p>
        </section>
    }
    var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
    if (!pager.IsEmpty())
    {
        <div class="pager mt-0 pt-0 mb-3">
            @pager
        </div>
    }
}
else
{
    <div>Tin đang cập nhật</div>
}

