@using Core.Common.UI;
@using CMS_Solution.WebRuby.Common;
@using CMS_Solution.WebRuby.Extensions;
@model Business.Entities.Domain.CartAdd
    <form role="form" id="form-CartAdd">
        @Html.HiddenFor(model => model.ProductId, new { @id = "ProductIdS" })
        @Html.HiddenFor(model => model.Price)
        @Html.HiddenFor(model => model.CookieId)
        <section class="quantity">
            @Html.TextBoxFor(model => model.Quantity, new
           {
               @class = "",
               @min = "1",
               @step = "1",
               @type = "number"
           })
        </section>
        @*<button type="button" id="btnSaveCart">MUA NGAY</button>*@
        @if (Model.IsOffers == true)
        {
            <button type="button" id="btnOfferCart">MUA NGAY</button>
        }
        else
        {
            <button type="button" id="btnSaveCart">MUA NGAY</button>
        }
    </form>
@{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Cart/CartAdd.js")"></script>
}
<script>
    $(document).ready(function () {
        if (Common.Empty(Common.CartAdd)) {
            Common.CartAdd = new CartAdd({
                Url: {
                    AddItemToCart: '@Url.Action("AddItemToCart", "Cart")',
                     AddItemToCartPromotion: '@Url.Action("AddItemToCartPromotion", "Cart")',
                    CartIndex: '@Url.Action("Index", "Cart")'
                },
            });
        }
        else {
            Common.CartAdd.RegisterEvent();
        }
    });
</script>