@using Core.Common.UI;
@using CMS_Solution.WebRuby.Common;
@using CMS_Solution.WebRuby.Extensions;
@model  CMS_Solution.WebRuby.ViewModel.ProductSearchViewModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    ////title
    Html.AddTitleParts("Kết quả tìm kiếm");
}
@section Breadcrumb
{
    <section class="background-about">
        <section class="bg-about">
            <h1>KẾT QUẢ TÌM KIẾM</h1>
        </section>
    </section>
    <section class="container mg-crumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="/" title="Trang chủ" itemprop="url"><span itemprop="title">Trang chủ</span></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="@Url.RouteUrl("Cart")" title="Kết quả tìm kiếm" itemprop="url">
                    <span itemprop="title">Kết quả tìm kiếm</span>
                </a>
            </li>
        </ul>
    </section>
}

<section class="top-product all-product">
    <section class="container">
        @if (Model.Items != null && Model.Items.Any())
        {
            <p><b>@Model.Items[0].TotalCount kết quả</b> cho từ khóa <b>"@Model.Search.Keyword"</b></p>
            <h2 class="title-about">Sản phẩm.</h2>
            <section class="row">
                @foreach (var item in Model.Items)
                {
                    <section class="col-lg-3 col-md-3 col-sm-6 col-m-5">
                        @Html.Partial("_ProductBox", item)
                    </section>
                }
            </section>
        }
        else
        {
            <div>Không có kết quả tìm kiếm</div>
        }
        @if (Model != null && Model.Items != null && Model.Items.Any())
        {
            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
            if (!pager.IsEmpty())
            {
                <div class="pager mt-0 pt-0 mb-3">
                    @pager
                </div>
            }
        }
    </section>
    <div class="partial-content" data-url="@Url.Action("HomePageGymSetup", "GymSetup")"></div>
</section>